.wrapper {
    text-align: center;
}
.linkedlist{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: auto; 
}
.tabletask{
    order:  1;
}

.tabletask table {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    border: 15px double #4B0082;
    max-width: 100%;

}
    .tabletask th {
        font-weight: 1000;
        font-size: 30px;
        color: #4B0082;
        padding: 30px 50px;
    }
    .tabletask td {        
        font-weight: 300;
        font-size: 26px;
        color: #00008B;
        padding: 10px 15px;
    }
    .tabletask caption {
        font-size: 30px;
        text-decoration-color: #4B0082
    }
.tabletask tr:nth-child(even) {background:#00FA9A;}
.tabletask tr:nth-child(odd) {background:#E0FFFF;}
img{
    max-width: 90%;
    height: auto;
}
header {
    text-align: center;
    font-size: 23px;
    letter-spacing: 10px;
    background: #00FA9A;
    color: #4B0082;
    border-bottom: 5px outset #4B0082;
}

.logo{
    float:left;
    width: 125px;
    height: 75px;
    padding: 5px;
    text-align: left;
}

.smt {
    margin: auto;
    text-align: left;
    max-width: 960px;
}
.smt2 {
    text-align: left;
    margin: 5px;
}
.menu{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 30px;
    margin-left: 25%;
    max-width: 100%;
    background-color: #E0FFFF;
}
.content{
    display: flex;
    flex-flow: nowrap column;
    max-width: 100%;
    margin: auto;
    text-align: left;
}


form{
    display: flex;
    flex-direction: column;
}
footer {
    font-size: 40px;
    background-color: #00FA9A;
}


@media (min-width: 768px) {
    .tabletask {
        max-width: 960px;
        order: 0;
    }
    .tabletask th {
        font-size: medium;
    }
    .tabletask td {
        font-size: medium;
    }
    .menu {
        flex-direction: row;
        max-width: 960px;
        justify-content: space-evenly;
    }
    img {
        max-width: 900px;
    }
    
    .content {
        max-width: 960px;
    }
    .logo {
        width: 120px;
        float: left;
        margin-bottom: 0px;
        text-align: left;
    }
}